.bounce{
    animation: jump 1s infinite;
}

@keyframes jump {
    0% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(2px);
    }
}